* {
	box-sizing: border-box;
}

body {
	text-align: center;
	margin: 0;
	font-family: "Poppins", sans-serif;
	color: #fff;
	/* background-image: url("../image/greenbg.jpg"); */
	background-color: #0d161e;
	background-repeat: no-repeat;
	background-size: cover;
	height: 100%;
	width: 100%;
	padding-top: 70px;
}

.navcolor {
	/* background-color: #293042; */
	/* background-color: #26242e; */
}
/*  */
.margtop {
	margin-top: 4em;
}

/* .catColor {
	background-color: inherit;
} */

.title {
	font-weight: 600;
	font-size: 2.5em;
	width: 100%;
	height: 70px;
	background-color: #f2f4f8;
}

.parent {
	height: 100vh;
	display: flex;
	flex-direction: row;
	justify-content: centre;
	align-items: centre;
	flex-wrap: wrap;
}

.buddy_image {
	width: 700px;
	padding-left: 150px;
}

.child {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.child1 {
	/* width: 50%; */
	/* height: 200px; */
	/* background: #ef476f; */
	flex-grow: 1;
}

.child3 {
	/* width: 50%; */
	/* background: #1eec5c; */
	flex-grow: 1;
}

/* .jumbotron {
	background: #f2f4f8;
} */

.btn1 {
	display: block;
	/* width: 100px; */
	/* height: 50px; */
	border-top-right-radius: 10px;
	border-bottom-right-radius: 10px;
	outline: none;
	border: none;
	background-color: #f03156;
	background-size: 200%;
	font-size: 1.2rem;
	color: #fff;
	font-family: "Poppins", sans-serif;
	text-transform: uppercase;
	/* margin: 1rem 0; */
	cursor: pointer;
	transition: 0.5s;
}

.btn1:hover {
	background-position: right;
	background-color: #16ffba;
	color: #0d161e;
}

.input-group {
	width: 400px;
}

table {
	width: 100%;
	border-collapse: collapse;
}

th:first-of-type {
	border-top-left-radius: 10px;
}
th:last-of-type {
	border-top-right-radius: 10px;
}
tr:last-of-type td:first-of-type {
	border-bottom-left-radius: 10px;
}
tr:last-of-type td:last-of-type {
	border-bottom-right-radius: 10px;
}

.parenttable {
	display: flex;
	flex-direction: row;
	justify-content: centre;
	align-items: centre;
}

.leaderboard-results {
	text-align: left;
	border-collapse: collapse;
}

/*  */
.leaderboard-results thead th {
	padding: 15px 25px;
	color: #fff;
	font-size: 14px;
	font-weight: bold;
	background-color: #16191b;
}
.leaderboard-results tbody td {
	padding: 10px 25px;
	/* background: #16191b; */
	font-size: 16px;
	/* border-bottom: 5px solid #16191b; */
}
.leaderboard-results tbody td:nth-of-type(7) {
	font-weight: bold;
}
.leaderboard-results tbody tr:hover td {
	/* background: #16191b; */
}
.leaderboard-results tbody tr {
	/* color: #fff; */
}
.leaderboard-results tbody tr:first-child {
	color: #16191b;
}
.leaderboard-results tbody span {
	font-weight: bold;
	padding: 10px 15px;
	border-radius: 50%;
}
.leaderboard-results tbody tr:first-child span {
	background: #16ffba;
	/* color: white; */
}
.leaderboard-results tbody tr span {
	/* background: #16191b; */
	/* color: #fff; */
}

tr:nth-child(even) {
	background-color: #e9ecef;
}
tr:nth-child(odd) {
	background-color: white;
}

th,
td {
	/* padding: 10px; */
}

.parent2 {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-evenly;
}

.cardn {
	width: 100%;
	background: #1a1a1a;
	border-radius: 10px;
	overflow: hidden;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	position: absolute;
	top: 150px;
	box-shadow: 0 14px 26px rgba(0, 0, 0, 0.04);
	transition: all 0.3s ease-out;
	text-decoration: none;
	margin-bottom: 50px;
	color: white;
}

.cardnadmin {
	background: #1a1a1a;
	border-radius: 10px;
	overflow: hidden;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	position: absolute;
	top: 150px;
	box-shadow: 0 14px 26px rgba(0, 0, 0, 0.04);
	transition: all 0.3s ease-out;
	text-decoration: none;
	margin-bottom: 50px;
	color: white;
}

/* .cardn:hover {
	transform: scale(1.005) translateZ(0);
	box-shadow: 0 24px 36px rgba(0, 0, 0, 0.11),
		0 24px 46px var(--box-shadow-color);
} */

.cardn:hover .circle:after {
	background: var(--bg-color-light);
}

.cardn:hover p {
	color: var(--text-color-hover);
}

.cardn:active {
	transform: scale(1) translateZ(0);
	box-shadow: 0 15px 24px rgba(0, 0, 0, 0.11),
		0 15px 24px var(--box-shadow-color);
}

.cardn p {
	font-size: 17px;
	color: #4c5656;
	margin-top: 30px;
	z-index: 10000;
	transition: color 0.3s ease-out;
}

.ladder-nav {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	/* background: #16ffba; */
	padding: 10px 25px;
}

.ladder-title {
	flex: 1;
}

.card-1 {
	box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
	transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
}

.card-1:hover {
	box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
	cursor: pointer;
}

.cardx {
	width: 100%;

	border-radius: 10px;
	overflow: hidden;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	position: relative;
	box-shadow: 0 14px 26px rgba(0, 0, 0, 0.04);
	transition: all 0.3s ease-out;
	text-decoration: none;
	margin-bottom: 50px;
}

.disappear {
	display: none;
	transition: all 0.6s ease-in-out;
}
.overlay {
	width: 118px;
	position: absolute;
	height: 118px;
	border-radius: 50%;
	background: var(--bg-color);
	top: 70px;
	left: 50px;
	z-index: 0;
	transition: transform 0.3s ease-out;
}

svg {
	fill: white;
}

.cardn:hover svg {
	fill: #d98a19;
}

a:hover {
	text-decoration: none;
}

.lboard {
	background-color: #0d161e;
}

.circleout {
	width: 100%;
	height: 60%;
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: #16ffba;
	overflow: hidden;
}
.circle {
	background-color: white;
	width: 150px;
	height: 150px;
	border-radius: 50%;
}

.profile {
	color: grey;
	font-size: 18px;
}

button {
	border: none;
	outline: 0;
	display: inline-block;
	padding: 8px;
	color: white;
	background-color: #000;
	text-align: center;
	cursor: pointer;
	width: 100%;
	font-size: 18px;
}

* {
	box-sizing: border-box;
}

body {
	font-family: "Poppins", sans-serif;
}
h1 {
	color: #ef476f;
}

h2 {
	text-align: left;
}

.h2-title {
	background-color: #f03156;
	padding: 10px;
	border-radius: 10px;
}

h3 {
	color: #ef476f;
}

.question {
	text-align: center;
	font-weight: 600;
	color: #f03156;
}

#question {
	background-color: #0d161e;
	padding: 80px;
	border-radius: 30px;
}
.question-green {
	color: #16ffba;
}
.quiz-title {
	text-align: center;
	font-weight: 600;
	color: #06d6a0;
}

/* #quiz {
	text-indent: 10px;
	display: none;
} */

.big {
	font-size: large;
}

.btn3 {
	/* border: 2px solid black; */
	border-radius: 5px;
	width: 100px;
	/* padding-left: 5px; */
	/* padding-right: 5px; */
	/* position: relative; */
	background-color: #f03156;

	float: left;
	/* margin-right: 650px; */
	/* background-color: #dcdcdc; */
	/* color: white; */
	/* margin: 0 2px 0 2px; */
}

.button.active {
	background-color: #f8f8ff;
	color: #fff;
}

.btn3:hover {
	cursor: pointer;
	background-color: #16ffba;

	transform: translateY(-0.1rem);
	transition: transform 150ms;
	color: #0d161e;
}

button {
	position: relative;
	float: right;
}

.button a {
	text-decoration: none;
	color: black;
}

.choice-container {
	display: flex;
	margin-bottom: 1rem;
	padding: 10px 0 10px 20px;
	width: 100%;
	font-size: 1.2rem;
	font-weight: 600;
	border: 0.1rem solid rgb(131, 56, 236, 0);
	background-color: white;
	color: #1a1a1a;
	border-radius: 10px;
}

.choice-container:hover {
	cursor: pointer;
	box-shadow: 0 0.4rem 0rem 0 rgba(22, 255, 186, 1);
	transform: translateY(-0.1rem);
	transition: transform 150ms;
	border: 2px solid black;
}

input[type="radio"],
input.radio {
	margin-top: 8px;
	margin-right: 10px;
	width: 0.8em;
	height: 0.8em;
}

ul {
	list-style-type: none;
	padding: 0;
	margin: 0;
	text-align: left;
}

#prev {
	display: none;
}

#start {
	float: right;
	display: none;
	width: 90px;
}

.container {
	width: 50%;
}
